{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'img/logos2.png' %}" type="image/png" />
  <title>28-IdumI</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
  <!-- main css --> 
  <link rel="stylesheet" href="{% static 'scss/style.css' %}" />
</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <div class="search_input" id="search_input_box">
        <div class="container">
          <form class="d-flex justify-content-between" method="" action="">
            <input type="text" class="form-control" id="search_input" placeholder="Search Here" />
            <button type="submit" class="btn"></button>
            <span class="ti-close" id="close_search" title="Close Search"></span>
          </form>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'main:homePage' %}"><img src="{% static 'img/logos1.png' %}" style="width: 120px;" alt="" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav m-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:homePage' %}">Bosh menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:about' %}">Biz haqimizda</a>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sahifalar</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:courses' %}">Maktabimiz kurslari</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:elements' %}">Elements</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:achivments' %}">Yutuqlarimiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:News' %}">Yangiliklar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:Contact' %}">Bog'lanish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://127.0.0.1:8000/">Kutubxona</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link search" id="search"><i class="ti-search"></i></a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:login' %}">Login</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" href="{% url 'main:register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- ================ End Header Menu Area ================= -->

  <!-- ================ Start Home Banner Area ================= -->
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            
            {% if messages %}
              
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show m-auto pb-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
                
            {% endif %}
              <br>
            
            <div class="banner_content text-center">
              <p class="text-uppercase">Oltinko'l tumani</p>
              <h2 class="text-uppercase mt-4 mb-5">28-Davlat ixtisoslashgan maktab-internati</h2>
              <div>
                <a href="{% url 'main:about' %}" class="primary-btn2 mb-3 mb-sm-0">Biz haqimizda</a>
                <a href="{% url 'main:achivments' %}" class="primary-btn ml-sm-3 ml-0">Yutuqlarimiz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  <!--================ Start Feature Area =================-->
  <section class="feature_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Awesome Feature</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-student"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Scholarship Facility</h4>
              <p>
                Bizning o'quvchilarimizning har biri , har yili oliygohlarga kirishmoqda
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Maktabimiz Fanlari</h4>
              <p>
                BIzning maktab-internatimiz matematika va Ingliz tili fanlariga ixtisoslashtirilgan
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-earth"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Global Sertifikatlar</h4>
              <p>
                Ko‘plab o‘quvchilarimiz turli sertifikatlarga ega bo‘lmoqda
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->


  <!--================ Start Achivments Area =================-->

  <section class="Achiments_area py-5">
    <div class="container">
      <center><h2 class="mb-5 m-auto p-3">Bizning maktab-internatining yutuqlari</h2></center>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for new in achives %}
          <div class="col">
            <div class="card h-100">
              <a href="{% url 'main:achivmentsDetail' new.slug  %}"><img src="{{new.image.url}}" class="card-img-top"  style="height: 400px;object-fit: contain;" alt="..."></a>
              <div class="card-body">
                <a href="{% url 'main:achivmentsDetail' new.slug %}"><h5 class="card-title">{{new.name}}</h5></a>  
                <p class="card-text">{{new.body|truncatewords:20}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
            
          
        </div>
        <center> <a class="primary-btn m-auto mt-5" href="{% url 'main:achivments' %}">Barcha yutuqlarimiz <i class="ti-arrow-right ml-1"></i></a></center>
      </div>
  </section>



  <!--================ End Achivments Area =================-->






  <!--================ Start News Area =================-->

  <section class="News_area py-5">
    <div class="container">

    <center>  <h2 class="mb-3 p-3">Bizning maktab-internatining yangiliklar</h2> </center>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for new in News %}
          <div class="col">
            <div class="card h-100">
              <a href="{% url 'main:newDetail' new.slug %}"><img src="{{new.img.url}}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="{% url 'main:newDetail' new.slug %}"><h5 class="card-title">{{new.title}}</h5></a>  
                <p class="card-text">{{new.description|truncatewords:20}}</p>
              </div>
              <div class="card-footer " style="justify-content: space-between;">
                <small class="text-body-secondary">{{new.created_at}}</small>
                <small class="text-body-secondary"> author : {{new.author}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
          
          
        </div>
      <center>  <a class="primary-btn mt-5" href="{% url 'main:News' %}">Barcha yangiliklarimiz <i class="ti-arrow-right ml-1"></i></a></center>
      </div>
  </section>



  <!--================ End News Area =================-->



  <!--================ Start Popular Courses Area =================-->
  <div class="popular_courses section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Bizning maktabimiz kurslari</h2>
            <p>Replenish man have thing gathering lights yielding shall you</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single course -->
        <div class="col-lg-12">
          <div class="owl-carousel active_course">
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="{% static 'img/courses/c1.jpg' %}" alt="" />
              </div>
              <div class="course_content">
                <span class="price">$25</span>
                <span class="tag mb-4 d-inline-block">design</span>
                <h4 class="mb-3"><a href="course-details.html">Matematika</a></h4>
                <p>One make creepeth man bearing their one firmament won't fowl meat over sea</p>
              </div>
            </div>

            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="{% static 'img/courses/c2.jpg' %}" alt="" />
              </div>
              <div class="course_content">
                <span class="price">$25</span>
                <span class="tag mb-4 d-inline-block">design</span>
                <h4 class="mb-3"><a href="course-details.html">Ingliz tili</a></h4>
                <p>One make creepeth man bearing their one firmament won't fowl meat over sea</p>
              </div>
            </div>

            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="{% static 'img/courses/c3.jpg' %}" alt="" />
              </div>
              <div class="course_content">
                <span class="price">$25</span>
                <span class="tag mb-4 d-inline-block">design</span>
                <h4 class="mb-3"><a href="course-details.html">Kimyo</a></h4>
                <p>One make creepeth man bearing their one firmament won't fowl meat over sea</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <center> <a class="primary-btn m-auto mt-5" href="{% url 'main:achivments' %}">Barcha kurslarimiz <i class="ti-arrow-right ml-1"></i></a> </center>
    </div>
  </div>


  <!--================ End Popular Courses Area =================-->

  <!--================ Start Registration Area =================-->
  <div class="section_gap registration_area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="row clock_sec clockdiv" id="clockdiv">
            <div class="col-lg-12">
              <h1 class="mb-3">Qabul uchun ro'yhatdan o'ting</h1>
              <p>
                There is a moment in the life of any aspiring astronomer that
                it is time to buy that first telescope. It’s exciting to think
                about setting up your own viewing station.
              </p>
            </div>
            <div class="col clockinner1 clockinner">
              <h1 class="days">150</h1>
              <span class="smalltext">Days</span>
            </div>
            <div class="col clockinner clockinner1">
              <h1 class="hours">23</h1>
              <span class="smalltext">Hours</span>
            </div>
            <div class="col clockinner clockinner1">
              <h1 class="minutes">47</h1>
              <span class="smalltext">Mins</span>
            </div>
            <div class="col clockinner clockinner1">
              <h1 class="seconds">59</h1>
              <span class="smalltext">Secs</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="register_form">
            <h3>Maktabga qabul qilish</h3>
            <p>It is high time for learning</p>
            <a href="{% url 'main:Contact' %}"  class="primary-btn">Qabul qilish</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ End Registration Area =================-->

  <!--================ Start Trainers Area =================-->
  <section class="trainer_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Maktabimiz direktori va bizning rahbarlarimiz</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-flex align-items-center">

          
          {% for i in direktor %}
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{{i.image.url}}" style="height: 400px;object-fit: contain" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>{{i.fullname}}</h4>
              <p class="designation">
                
                {% for skill in i.subjects.all %}
                  {{skill}}
                {% endfor %}
                  
              </p>
              <div class="mb-4">
                <p>
                  One make creepeth man bearing their one firmament won't fowl
                  meat over sea
                </p>
              </div>
              <div class="align-items-center justify-content-center d-flex">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
                <a href="#"><i class="ti-pinterest"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
            


      </div>
    </div>
  </section>
  <!--================ End Trainers Area =================-->

  <!--================ Start Events Area =================-->
  <div class="events_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3 text-white">Upcoming Events</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="single_event position-relative">
            <div class="event_thumb">
              <img src="{% static 'img/event/e1.jpg' %}" alt="" />
            </div>
            <div class="event_details">
              <div class="d-flex mb-4">
                <div class="date"><span>15</span> Jun</div>

                <div class="time-location">
                  <p>
                    <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                  </p>
                  <p>
                    <span class="ti-location-pin mr-2"></span> Hilton Quebec
                  </p>
                </div>
              </div>
              <p>
                One make creepeth man for so bearing their firmament won't
                fowl meat over seas great
              </p>
              <a href="#" class="primary-btn rounded-0 mt-3">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_event position-relative">
            <div class="event_thumb">
              <img src="{% static 'img/event/e2.jpg' %}" alt="" />
            </div>
            <div class="event_details">
              <div class="d-flex mb-4">
                <div class="date"><span>15</span> Jun</div>

                <div class="time-location">
                  <p>
                    <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                  </p>
                  <p>
                    <span class="ti-location-pin mr-2"></span> Hilton Quebec
                  </p>
                </div>
              </div>
              <p>
                One make creepeth man for so bearing their firmament won't
                fowl meat over seas great
              </p>
              <a href="#" class="primary-btn rounded-0 mt-3">View Details</a>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="text-center pt-lg-5 pt-3">
            <a href="#" class="event-link">
              View All Event <img src="{% static 'img/next.png' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ End Events Area =================-->

  <!--================ Start Testimonial Area =================-->
  <div class="testimonial_area section_gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Bizning O'qituvchilar</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="testi_slider owl-carousel">

          
          {% for teacher in teachers %}
          <a href="{% url 'main:teacherProfile' teacher.slug %}" style="text-decoration: none;color: gray;">
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="{{teacher.image.url}}" alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>{{teacher.fullname}}</h4>
                  <p>
                    {{teacher.bio | truncatewords:20}} 
                  </p>
                  <p style="font-weight: bolder;margin-top: 10px;font-size: 18px;">
                    {% for subject in teacher.subjects.all %}
                    {{subject.name}} ,
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
          {% endfor %}
            


        </div>
      </div>
    </div>
  </div>
  <!--================ End Testimonial Area =================-->

  <!--================ Start footer Area  =================-->


  <!-- Footer -->
<footer class="footer-area section_gap text-white text-center text-lg-start text-muted">
  <section class="">
    <div class="container text-center text-white text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase text-white fw-bold mb-4">
            <img src="{% static 'img/logos2.png' %}" style="width: 200px; object-fit: contain;" alt="">
          </h6>
          <p>
            Oltinko'l tumani 28-Davlat iqtisoslashgan maktab-internati
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Biz haqimizda
          </h6>
          <p>
            <a href="{% url 'main:homePage' %}" class="text-reset">Barchasi</a>
          </p>
          <p>
            <a href="{% url 'main:about' %}" class="text-reset">Biz haqimizda</a>
          </p>
          <p>
            <a href="{% url 'main:elements' %}" class="text-reset">Malumotlar</a>
          </p>
          <p>
            <a href="{% url 'main:courses' %}" class="text-reset">Maktabimiz kurslari</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Maktab hayoti
          </h6>
          <p>
            <a href="{% url 'main:homePage' %}" class="text-reset">Barchasi</a>
          </p>
          <p>
            <a href="{% url 'main:News' %}" class="text-reset">Yangiliklar</a>
          </p>
          <p>
            <a href="{% url 'main:achivments' %}" class="text-reset">Yutuqlarimiz</a>
          </p>
          <p>
            <a href="{% url 'main:Contact' %}" class="text-reset">Kontakt</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">Contact</h6>
          <p><i class="fas fa-home me-3"></i>Andijon shahar, O'zbekiston Oltinko'l tumani 28-IDUMI</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 998940270047</p>
          <p><i class="fas fa-print me-3"></i> + 998940270047</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<div class="text-center p-4 bg-white" style="color: #002347;">
  © 2024 Copyright:
  <a class="text-reset fw-bold" href="https://t.me/umarovs_17">Website created by Umarov</a>
</div>
<!-- Footer -->
  

  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'js/mail-script.js' %}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="{% static 'js/gmaps.min.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>